<md-dialog>

  <md-subheader class="md-sticky-no-effect md-primary">{{vm.create ? 'Add' : 'Edit'}} Campout</md-subheader>

  <md-content>
    <form name="vm.campoutForm">

      <md-input-container>
        <label>Description</label>
        <input type="text" class="form-control" name="description" ng-model="vm.campout.description" placeholder="Title" required>
        <div ng-messages="vm.campoutForm.description.$error" ng-show="vm.campoutForm.description.$dirty && vm.campoutForm.description.$invalid">
          <div ng-message="required">Description is required</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Start Date</label>
        <input type="date" class="form-control" name="startDate" ng-model="vm.campout.start" required>
        <div ng-messages="vm.campoutForm.startDate.$error" ng-show="vm.campoutForm.startDate.$dirty && vm.campoutForm.startDate.$invalid">
          <div ng-message="required">Start Date is Required</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label for="end-date">End Date</label>
        <input type="date" class="form-control" id="end-date" ng-model="vm.campout.end" required>
        <div ng-messages="vm.campoutForm.endDate.$error" ng-show="vm.campoutForm.endDate.$dirty && vm.campoutForm.endDate.$invalid">
          <div ng-message="required">End Date is Required</div>
        </div>
      </md-input-container>

    </form>
  </md-content>

  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button id="submit" class="md-primary" ng-click="vm.returnCampout()">{{vm.create ? 'Add' : 'Update'}} Campout</md-button>
    <md-button id="cancel" class="md-warn" ng-click="vm.cancel()">Cancel</md-button>
  </div>

</md-dialog>