<div ng-controller="AddCampoutController" layout="column">

  <form name="addCampoutForm">

  <md-input-container>
    <label>Description</label>
    <input type="text" class="form-control" name="description" ng-model="newCampout.description" placeholder="Title" required>
    <div ng-messages="addCampoutForm.description.$error" ng-show="addCampoutForm.description.$dirty && addCampoutForm.description.$invalid">
      <div ng-message="required">Description is required</div>
    </div>
  </md-input-container>

  <md-input-container>
    <label>Start Date</label>
    <input type="date" class="form-control" name="startDate" ng-model="newCampout.startDate" required>
    <div ng-messages="addCampoutForm.startDate.$error" ng-show="addCampoutForm.startDate.$dirty && addCampoutForm.startDate.$invalid">
      <div ng-message="required">Start Date is Required</div>
    </div>
  </md-input-container>

  <md-input-container>
    <label for="end-date">End Date</label>
    <input type="date" class="form-control" id="end-date" ng-model="newCampout.endDate" required>
    <div ng-messages="addCampoutForm.endDate.$error" ng-show="addCampoutForm.endDate.$dirty && addCampoutForm.endDate.$invalid">
      <div ng-message="required">End Date is Required</div>
    </div>
  </md-input-container>

  <div layout="row" class="button-group">
    <md-button id="submit" class="md-raised md-primary" ng-click="addCampout()">Add Campout</md-button>
    <md-button id="cancel" class="md-raised md-warn" ng-click="cancelAddCampout()">Clear</md-button>
    <div flex></div>
  </div>

  </form>

</div>