<md-content>

  <div ng-repeat="scout in troop | orderBy: 'lastName+firstName'">
    <fcs-scout-card scout="scout"></fcs-scout-card>
  </div>

  <div class="no-scouts" ng-if="troop.length === 0">
    <p>No scouts yet!</p>
    <p>Click the <md-icon md-svg-src="actions:add-person" layout-margin></md-icon> button to get started.</p>
  </div>

  <div class="spacer"></div>

</md-content>

<md-button ng-click="addBatchDetails($event)" class="md-fab md-fab-bottom-left md-raised md-warn md-hue-2">
  <md-icon md-svg-src="actions:batch-add"></md-icon>
</md-button>

<md-button ng-click="addScout($event)" class="md-fab md-fab-bottom-right md-raised md-primary md-hue-3">
  <md-icon md-svg-src="actions:add-person"></md-icon>
</md-button>