<md-dialog>

  <md-subheader class="md-sticky-no-effect md-primary">{{vm.create ? 'Add' : 'Edit'}} Service Project</md-subheader>

  <md-content>

    <form name="vm.serviceProjectForm">

      <md-input-container>
        <label>Description</label>
        <input type="text" class="form-control" name="description" ng-model="vm.serviceProject.description" required>
        <div ng-messages="vm.serviceProjectForm.description"
             ng-show="vm.serviceProjectForm.description.$dirty && vm.serviceProjectForm.description.$invalid">
          <div ng-message="required">Service Description is Required</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Hours</label>
        <input type="number" class="form-control" name="hours" ng-model="vm.serviceProject.hours" required>
        <div ng-messages="vm.serviceProjectForm.hours"
             ng-show="vm.serviceProjectForm.hours.$dirty && vm.serviceProjectForm.hours.$invalid">
          <div ng-message="required">Service Hours are Required</div>
        </div>
      </md-input-container>

    </form>

  </md-content>

  <div class="md-actions">

    <span flex></span>

    <md-button id="submit" class="md-primary" ng-click="vm.returnServiceProject()">
      {{vm.create ? 'Add' : 'Update'}}
      <span show-gt-sm> Service Project</span>
    </md-button>

    <md-button id="cancel" class="md-warn" ng-click="vm.cancel()">Cancel</md-button>

  </div>

</md-dialog>