<md-bottom-sheet>

    <md-input-container>
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" ng-model="editingScout.firstName" placeholder="Baden">
    </md-input-container>

    <md-input-container>
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" ng-model="editingScout.lastName" placeholder="Powell">
    </md-input-container>

    <md-input-container>
      <label for="patrol">Patrol</label>
      <input type="text" class="form-control" id="patrol" ng-model="editingScout.patrol" placeholder="Owl Patrol">
    </md-input-container>

    <md-input-container>
      <label for="photoUrl">Photo URL</label>
      <input type="text" class="form-control" id="photoUrl" ng-model="editingScout.photoUrl" placeholder="http://...">
    </md-input-container>

    <md-input-container>
      <label for="isOA">OA Member</label>
      <md-checkbox type="checkbox" class="form-control" id="isOA" ng-model="editingScout.isOA"></md-checkbox>
    </md-input-container>

  <div>
    <md-button class="md-raised md-primary" ng-click="addScout(newScout)">Save Scout</md-button>
    <md-button class="md-raised md-warn" ng-click="cancel()">Cancel</md-button>
  </div>
</md-bottom-sheet>