<div ng-controller="AddServiceController" layout="column">

  <md-input-container>
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" ng-model="newService.description" placeholder="Description">
  </md-input-container>

  <md-input-container>
    <label for="hours">Hours</label>
    <input type="number" class="form-control" id="hours" ng-model="newService.hours" placeholder="Hours">
  </md-input-container>

  <div layout="row">
    <md-button id="submit" type="submit" class="md-raised md-primary" ng-click="addService()">Add Service</md-button>
    <md-button id="cancel" type="cancel" class="md-raised md-warn" ng-click="cancelAddService()">Clear</md-button>
  </div>

  <div class="alert alert-info" ng-if="message">{{message}}</div>

</div>