<div ng-controller="AddPositionController" layout="column">

  <md-input-container>
    <label for="title">Description</label>
    <input type="text" class="form-control" id="title" ng-model="newPosition.title" placeholder="Title">
  </md-input-container>

  <md-input-container>
    <label for="start-date">Start Date</label>
    <input type="date" class="form-control" id="start-date" ng-model="newPosition.startDate" placeholder="Start Date">
  </md-input-container>

  <md-input-container>
    <label for="end-date">End Date</label>
    <input type="date" class="form-control" id="end-date" ng-model="newPosition.endDate" placeholder="End Date">
  </md-input-container>

  <div layout="row" class="button-group">
    <md-button id="submit" type="submit" class="md-raised md-primary" ng-click="addPosition()">Add Position</md-button>
    <md-button id="cancel" type="cancel" class="md-raised md-warn" ng-click="cancelAddPosition()">Clear</md-button>
  </div>

  <div class="alert alert-info" ng-if="message">{{message}}</div>
</div>