<div>

  <h3>Service History</h3>
  <ul>
    <li ng-repeat="service in scout.getService()">{{service.description}} - {{service.hours}} hours</li>
  </ul>

  <h3>Campouts Attended</h3>
  <ul>
    <li ng-repeat="campout in scout.getCamping() | orderBy: 'campout.start'">{{campout.description}}: {{campout.start | date:'shortDate'}} - {{campout.end | date:'shortDate'}}</li>
  </ul>

  <h3>Positions Held</h3>
  <ul>
    <li ng-repeat="position in scout.getPositions() | orderBy: 'position.start'">{{position.title}}: {{position.start | date:'shortDate'}}<span ng-if="position.end"> - {{position.end | date:'shortDate'}}</span></li>
  </ul>

</div>