<div layout-fill layout="column">

  <div class="legal" flex layout-margin>
    Icons made by <a href="http://www.flaticon.com/authors/ocha" title="OCHA">OCHA</a>,
    <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>,
    <a href="http://www.flaticon.com/authors/sarfraz-shoukat" title="Sarfraz Shoukat">Sarfraz Shoukat</a>,
    <a href="http://www.flaticon.com/authors/tutsplus" title="TutsPlus">TutsPlus</a>,
    <a href="http://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a>,
    <a href="http://www.flaticon.com/authors/ocha" title="OCHA">OCHA</a>,
    <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a>,
    <a href="http://www.flaticon.com/authors/agata-kuczminska" title="Agata Kuczminska">Agata Kuczminska</a>,
    <a href="http://www.flaticon.com/authors/puppets" title="Puppets">Puppets</a>,
    <a href="http://www.flaticon.com/authors/bogdan-rosu" title="Bogdan Rosu">Bogdan Rosu</a>
    from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> and are licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
  </div>

  <md-button ui-sref="main" class="md-primary md-button md-raised" flex layout-margin>
    Return to Login Page
  </md-button>

</div>