<div>

  <md-card class="md-whiteframe-z3">
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-margin>
      <span>
        <img ng-src="{{scout.photoUrl}}" class="avatar-sm">
        {{scout.firstName}} {{scout.lastName}}<span ng-if="scout.currentRank()">: {{scout.currentRank}}</span>
        <md-icon md-svg-src="icons/oa_pocket_device.svg" ng-if="!!scout.isOA"></md-icon>
      </span>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-card-content>
      <!--Next rank progress -->
      <div class="md-tile-content">
        <h3>Progress to next rank: </h3>

        <md-progress-linear class="md-info" md-mode="determinate" value="scout.getPercentProgressToNextRank()" flex></md-progress-linear>

        <!-- Position Summary Data -->
        <div ng-repeat="position in scout.getCurrentPosition()">
          {{position.title}} - {{position.monthsInPosition()}} months
        </div>

        <div class="md-tile-content">

          <md-button>
            <span class="number">{{scout.getQualifiedNightsOfCamping()}}</span>
            <md-tooltip>
              Qualified Nights of Camping
            </md-tooltip>
            <md-icon md-svg-src="icons/svg/camping2.svg">
            </md-icon>
          </md-button>

          <md-button>
            <span class="number">{{scout.getHoursOfService()}}</span>
            <md-tooltip>
              Hours of Service
            </md-tooltip>
            <md-icon md-svg-src="icons/svg/cement.svg"></md-icon>
          </md-button>

          <span ng-if="!scout.isOA && scout.isOAQualified()">OA Qualified</span>

          <span ng-show="scout.currentPatrol">{{scout.currentPatrol}} <span ng-hide="patrolContainsPatrol">Patrol</span></span>

        </div>
      </div>

    </md-card-content>

  </md-card>

  <md-button class="md-fab add-details" aria-label="Add Scout Details" ng-click="open()">
    <md-icon class="add-button"
             md-svg-src="bower_components/material-design-icons/content/svg/production/ic_add_circle_48px.svg"></md-icon>
  </md-button>

    <!--Service Detail-->
    <md-card ng-if="!!scout.getService().length">
        <md-toolbar>
          <div class="md-toolbar-tools">
            Service History
          </div>
        </md-toolbar>
        <md-card-content>
          <md-list>
            <md-item ng-repeat="service in scout.getService()">
              <md-item-content>
                  {{service.description}} - {{service.hours | number: 1}} hours
                  <md-button ng-click="deleteService(service)" aria-label="Remove Service {{service.description}}">
                    <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_delete_48px.svg"></md-icon>
                  </md-button>
              </md-item-content>
            </md-item>
          </md-list>
        </md-card-content>
    </md-card>

    <!--Camping Detail-->
    <md-card ng-if="!!scout.getCamping().length">
        <md-toolbar>
          <div class="md-toolbar-tools">
            Campouts Attended
          </div>
        </md-toolbar>
        <md-card-content>
          <md-list>
            <md-item ng-repeat="campout in scout.getCamping() | orderBy: 'campout.start'">
              <md-item-content>
                {{campout.description}}: {{campout.start | date:'shortDate'}} - {{campout.end | date:'shortDate'}}
                <md-button ng-click="deleteCampout(campout)" aria-label="Remove Campout {{campout.description}}">
                  <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_delete_48px.svg"></md-icon>
                </md-button>
              </md-item-content>
            </md-item>
          </md-list>
        </md-card-content>
    </md-card>

    <!--Position Detail-->
    <md-card ng-if="!!scout.getPositions().length">
        <md-toolbar>
          <div class="md-toolbar-tools">
            Positions Held
          </div>
        </md-toolbar>
        <md-card-content>
          <md-list>
            <md-item ng-repeat="position in scout.getPositions() | orderBy: 'position.start'">
              <md-item-content>
                {{position.title}}: {{position.start | date:'shortDate'}}<span ng-if="position.end"> - {{position.end | date:'shortDate'}}</span>
                <md-button ng-click="deletePosition(position)" aria-label="Remove Position {{position.title}}">
                  <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_delete_48px.svg"></md-icon>
                </md-button>
              </md-item-content>
            </md-item>
          </md-list>
        </md-card-content>
    </md-card>

</div>