<div>

  <md-card class="md-whiteframe-z3">
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row">
        <img ng-src="{{scout.photoUrl}}" class="avatar-sm" layout-margin>
        {{scout.firstName}} {{scout.lastName}}<span ng-if="scout.currentRank">: {{scout.currentRank.name}}</span>
        <fcs-oa-icon ng-if="!!scout.isOA"></fcs-oa-icon>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-card-content>
      <!--Next rank progress -->
      <div class="md-tile-content">

        <fcs-rank-progress pct-progress="scout.getPercentProgressToFirstClass()"></fcs-rank-progress>

        <fcs-requirement-summary-icons req-category-count="scout.neededReqSummary"></fcs-requirement-summary-icons>

        <fcs-position-list positions="scout.currentPositions"></fcs-position-list>

        <div class="md-tile-content">

          <fcs-nights-of-camping-icon nights="scout.getQualifiedNightsOfCamping()"></fcs-nights-of-camping-icon>

          <fcs-hours-of-service-icon hours="scout.getHoursOfService()"></fcs-hours-of-service-icon>

          <span ng-if="!scout.isOA && scout.isOAQualified()">OA Qualified</span>

          <fcs-scout-patrol patrol="scout.currentPatrol"></fcs-scout-patrol>

        </div>
      </div>

    </md-card-content>

  </md-card>

  <fcs-add-button ng-click="openAddScoutDetailsSheet()"></fcs-add-button>



  <!--Service Detail-->
  <md-card ng-if="!!scout.getService().length">
    <md-toolbar>
      <div class="md-toolbar-tools">
        Service History
      </div>
    </md-toolbar>
    <md-card-content>
      <md-list>
        <md-item ng-repeat="service in scout.getService() | orderBy: 'description'">
          <md-item-content>
            {{service.description}} - {{service.hours | number: 1}} hours
            <md-button ng-click="deleteService(service)" aria-label="Remove Service {{service.description}}">
              <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_delete_48px.svg"></md-icon>
            </md-button>
          </md-item-content>
        </md-item>
      </md-list>
    </md-card-content>
  </md-card>

  <!--Camping Detail-->
  <md-card ng-if="!!scout.getCamping().length">
    <md-toolbar>
      <div class="md-toolbar-tools">
        Campouts Attended
      </div>
    </md-toolbar>
    <md-card-content>
      <md-list>
        <md-item ng-repeat="campout in scout.getCamping() | orderBy: 'start'">
          <md-item-content>
            {{campout.description}}: {{campout.start | date:'shortDate'}} - {{campout.end | date:'shortDate'}}
            <md-button ng-click="deleteCampout(campout)" aria-label="Remove Campout {{campout.description}}">
              <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_delete_48px.svg"></md-icon>
            </md-button>
          </md-item-content>
        </md-item>
      </md-list>
    </md-card-content>
  </md-card>

  <md-card>
    <md-toolbar>
      <div class="md-toolbar-tools">
        Requirements Completed
      </div>
    </md-toolbar>
    <md-card-content>
      <md-list>
        <md-item ng-repeat="completedRequirement in scout.getCompletedRequirements() | orderBy: 'requirement.requirementNumber+requirement.order'">
          <md-item-content>
            <fcs-completed-requirement-summary completed-requirement="completedRequirement">
              <fcs-delete-button ng-click="deleteRequirement(completedRequirement)" fcs-aria-label="Remove Requirement {{completedRequirement.requirement.name}}"></fcs-delete-button>
            </fcs-completed-requirement-summary>
          </md-item-content>
        </md-item>
      </md-list>
    </md-card-content>
  </md-card>

</div>