<div class="container">

  <!-- add scout -->
  <div class="container">

    <div class="well well-sm text-center" ng-click="showAdd()" ng-hide="addState">
      <span class="glyphicon glyphicon-plus"></span>
    </div>

    <div ng-show="addState">

      <div class="form-group">
        <input type="text" class="form-control" id="firstName" ng-model="newScout.firstName" placeholder="First Name">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="lastName" ng-model="newScout.lastName" placeholder="Last Name">
      </div>

      <button type="submit" class="btn btn-primary" ng-click="addScout(newScout)">Add Scout</button>
      <button type="cancel" class="btn btn-default" ng-click="cancelAdd()">Cancel</button>

    </div>

  </div>

	<div class="container">
		<div ng-repeat="scout in troop">
			<a ui-sref="scout-detail({ scoutId: scout.id })">
				<fcs-scout-card scout="scout"></fcs-scout-card>
			</a>
		</div>
	</div>

</div>	