<div class="col-xs-12 col-md-6 panel panel-default">

	<div class="panel-body">

	<div class="row clearfix">
		<!-- Scout Image -->
		<div class="col-xs-6 col-sm-4">
			<div class="well-sm">
		  	<img class="img-responsive img-thumbnail" ng-src="{{scout.photoUrl}}">
			</div>
		</div>

		<!-- Scout Summary Data -->
		<div class="col-xs-6 col-sm-8">
			<div class="col-xs-12">
				<h3>{{scout.firstName}} {{scout.lastName}}</h3>
			</div>
			<div class="col-xs-12 col-sm-6">
				<ul class="list-inline">
				  <li>Rank: {{scout.currentRank}}</li>
				  <li>Patrol: {{scout.currentPatrol}}</li>
				  <li ng-repeat="position in scout.currentPositions"></li>
				</ul>
			</div>
				<div class="col-xs-12 col-sm-6">
				<ul class="list-inline">
				      <li>{{position.title}}</li>
				      <li><span class="badge">{{position.monthsInPosition}} months</span></li>
				    </ul>
			</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			Next Rank: <progressbar type="success" value="scout.percentProgressToNextRank"></progressbar>
		</div>
	</div>

	</div>

	<div class="row">

		<div class="col-xs-6">

			<ul class="list-inline">
			  <li><span class="badge">{{scout.qualifiedNightsOfCamping}}</span> Qualified Nights of Camping</li>
			  <li><span class="badge">{{scout.hoursOfService}}</span> Hours of Service</li>
			  <li><span class="badge">{{scout.numberOfMeritBadges}}</span> Merit Badges</li>
			</ul>

		</div>

		<div class="col-xs-6">

		  
	  	<ul class="list-inline">
	  		<li ng-repeat="category in scout.neededRequirementCategories">
	  			<span class="label label-success">{{category.title}}</span>
	  		</li>
	  	</ul>

		  <div ng-show="scout.isOA">OA Member</div>
		  <div ng-show="!scout.isOA && scout.isOAQualified">OA Qualified</div>

		</div>

	</div>

</div>

</div>