<md-dialog>

  <md-subheader class="md-sticky-no-effect md-primary">Select Scouts</md-subheader>

  <md-content>

    <md-list>
      <md-item ng-repeat="scout in vm.troop | orderBy: '+firstName+lastName'">

        <md-item-content>
          <md-checkbox ng-model="scout.isSelected">
            <img ng-src="{{scout.photoUrl}}" class="avatar-sm" layout-margin> {{scout.getName()}}
          </md-checkbox>
        </md-item-content>

      </md-item>
    </md-list>

  </md-content>

  <div class="md-actions" layout="row">

    <span flex></span>

    <md-button id="submit" class="md-primary" ng-click="vm.returnAllSelections()">
      Select
      <span ng-show="$mdMedia('gt-sm')"> Scouts</span>
    </md-button>

    <md-button id="cancel" class="md-warn" ng-click="vm.cancel()">Cancel</md-button>

  </div>

</md-dialog>