<md-dialog>

  <md-content>

    <md-list>
      <div ng-repeat="category in vm.categories">
        <md-item>
          <md-item-content>
            {{category}}
          </md-item-content>
        </md-item>
      <md-item ng-repeat="requirement in vm.existingRequirements | filter: {category: category}">

        <md-item-content>
          <md-checkbox ng-model="requirement.isSelected">
            {{requirement.name}}
          </md-checkbox>
        </md-item-content>

      </md-item>
      </div>
    </md-list>

  </md-content>

  <div class="md-actions" layout="row">

    <span flex></span>

    <md-button id="submit" class="md-primary" ng-click="vm.difference ? vm.returnChangedSelections() : vm.returnAllSelections()">
      Update
      <span ng-show="$mdMedia('gt-sm')"> Requirements</span>
    </md-button>

    <md-button id="cancel" class="md-warn" ng-click="vm.cancel()">Cancel</md-button>

  </div>

</md-dialog>