<div>
  <md-toolbar class="md-toolbar-tools" layout="row" flex>

    <md-button hide-gt-md aria-label="Toogle Menu" ng-if="$ctrl.loggedIn" ng-click="$ctrl.toggleMenu()">
      <md-icon md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_menu_48px.svg"></md-icon>
    </md-button>

    <div class="title">
      First Class Scouting
    </div>

    <span flex></span>

    <md-button class="md-button" ng-click="$ctrl.logout()" ng-if="$ctrl.isLoggedIn()">
      Logout {{$ctrl.getUsername()}}
    </md-button>

  </md-toolbar>

  <div layout="row" flex>
    
  <md-content ui-view="mainView" layout="column" id="content" flex layout-fill class="animate view"></md-content>
    
  </div>
</div>