<div class="col-xs-12 col-md-6 panel panel-default">

	<div class="panel-body">

		<div class="row clearfix">
			<!-- scoutSummary Image -->
			<div class="col-xs-6 col-sm-4">
				<div class="well-sm">
					<img class="img-responsive img-thumbnail" ng-src="{{scoutSummary.photoUrl}}">
				</div>
			</div>

			<!-- scoutSummary Summary Data -->
			<div class="col-xs-6 col-sm-8">
				<h3>{{scoutSummary.firstName}} {{scoutSummary.lastName}}</h3>
			</div>

			<!-- scoutSummary Rank and Patrol -->
			<div class="col-xs-6">
				<ul class="list-inline">
					<li>{{scoutSummary.currentRank}}</li>
					<li>{{scoutSummary.currentPatrol}} Patrol</li>
				</ul>
			</div>

			<!-- Position Summary Data -->
			<div class="col-xs-12 col-sm-6">
				<ul class="list-inline">
					<li>{{position.title}}</li>
					<li ng-repeat="position in scoutSummary.currentPositions">
						{{position.title}} 
						<span class="badge">{{position.monthsInPosition}} months</span>
					</li>
				</ul>
			</div>

			<!-- Next rank progress -->
			<div class="col-xs-12 col-sm-6">
				Next Rank: <progressbar type="success" value="scoutSummary.percentProgressToNextRank"></progressbar>
			</div>

		</div>

	</div>

	<div class="row">

		<div class="col-xs-6">

			<ul class="list-inline">
				<li><span class="badge">{{scoutSummary.qualifiedNightsOfCamping}}</span> Qualified Nights of Camping</li>
				<li><span class="badge">{{scoutSummary.hoursOfService}}</span> Service Hours</li>
				<li><span class="badge">{{scoutSummary.numberOfMeritBadges}}</span> Merit Badges</li>
			</ul>

		</div>

		<div class="col-xs-6">


			<ul class="list-inline">
				<li ng-repeat="category in scoutSummary.neededRequirementCategories">
					<span class="label label-success">{{category.title}}</span>
				</li>
			</ul>

			<div ng-show="scoutSummary.isOA">OA Member</div>
			<div ng-show="!scoutSummary.isOA && scoutSummary.isOAQualified">OA Qualified</div>

		</div>

	</div>

</div>