<div>

  <div class="md-tile-content" ng-if="!scout.hasNoDetails()" layout-align="center center" layout="column">

    <fcs-rank rank="scout.currentRank" ng-if="scout.currentRank"></fcs-rank>

    <fcs-scout-patrol patrol="scout.currentPatrol" flex></fcs-scout-patrol>

    <fcs-rank-progress pct-progress="scout.getPercentProgressToFirstClass()" layout-fill></fcs-rank-progress>

    <fcs-requirement-summary-icons req-category-count="scout.neededReqSummary"></fcs-requirement-summary-icons>

    <fcs-position-list positions="scout.currentPositions"></fcs-position-list>

    <div layout="row" layout-align="space-around center" layout-wrap>

      <fcs-nights-of-camping-icon nights="scout.getQualifiedNightsOfCamping()"></fcs-nights-of-camping-icon>

      <fcs-hours-of-service-icon hours="scout.getHoursOfService()"></fcs-hours-of-service-icon>

    </div>

  </div>

  <div class="no-details" ng-if="scout.hasNoDetails()" layout-margin>
    No details yet! Click the <md-icon md-svg-src="actions:add-detail"></md-icon> button on the details screen or the
    <md-icon md-svg-src="actions:batch-add"></md-icon> button on the troop screen to add requirements and other events to this scout.
  </div>

</div>