<md-content>
  <md-card class="md-whiteframe-z2" layout="column">
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row">
        <img ng-src="{{scout.photoUrl}}" class="avatar-sm" layout-margin>
        <fcs-scout-name scout="scout"></fcs-scout-name>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-card-content>
      <!--Next rank progress -->
      <fcs-scout-summary scout="scout"></fcs-scout-summary>

      <div class="md-button-group">
        <md-button ng-click="editScout($event)" class="md-raised md-accent md-button" flex>Edit</md-button>
      </div>

    </md-card-content>

  </md-card>

  <!--Service Detail-->
  <md-card ng-if="!!scout.getService().length" class="md-whiteframe-z2">

    <md-toolbar>
      <div class="md-toolbar-tools">
        Service History
      </div>
    </md-toolbar>

    <md-card-content>
      <fcs-service-list scout="scout"></fcs-service-list>
    </md-card-content>

  </md-card>

  <!--Camping Detail-->
  <md-card ng-if="!!scout.getCamping().length" class="md-whiteframe-z2">
    <md-toolbar>
      <div class="md-toolbar-tools">
        Campouts Attended
      </div>
    </md-toolbar>
    <md-card-content>
      <md-list>
        <md-item ng-repeat="campout in scout.getCamping() | orderBy: 'start'">
          <md-item-content>
            <md-button ng-click="deleteCampout(campout)" aria-label="Remove Campout {{campout.description}}">
              <md-icon md-svg-src="actions:delete"></md-icon>
            </md-button>
            <md-button ng-click="editCampout($event, campout)" aria-label="Edit Campout {{campout.description}}">
              <md-icon md-svg-src="actions:edit"></md-icon>
            </md-button>
            {{campout.description}}: {{campout.start | date:'shortDate'}} - {{campout.end | date:'shortDate'}}
          </md-item-content>
        </md-item>
      </md-list>
    </md-card-content>
  </md-card>

  <!--Position Detail-->
  <md-card ng-if="!!scout.getPositions().length" class="md-whiteframe-z2">
    <md-toolbar>
      <div class="md-toolbar-tools">
        Position History
      </div>
    </md-toolbar>
    <md-card-content>
      <md-list>
        <md-item ng-repeat="position in scout.getPositions() | orderBy: 'start'">
          <md-item-content>
            <md-button ng-click="deletePosition(position)" aria-label="Remove position {{position.title}}">
              <md-icon md-svg-src="actions:delete"></md-icon>
            </md-button>
            <md-button ng-click="editPosition($event, position)" aria-label="Edit position {{position.title}}">
              <md-icon md-svg-src="actions:edit"></md-icon>
            </md-button>
            {{position.title}}: {{position.start | date: 'shortDate'}} - {{position.end | date: 'shortDate'}}
          </md-item-content>
        </md-item>
      </md-list>
    </md-card-content>
  </md-card>

  <md-card class="md-whiteframe-z2">
    <md-toolbar>
      <div class="md-toolbar-tools">
        Requirements Completed
      </div>
    </md-toolbar>
    <md-card-content>
      <md-list>
        <md-item ng-repeat="completedRequirement in scout.getCompletedRequirements() | orderBy: 'requirement.requirementNumber+requirement.order'">
          <md-item-content>
            <fcs-completed-requirement-summary completed-requirement="completedRequirement">
              <fcs-delete-button ng-click="deleteRequirement(completedRequirement)" fcs-aria-label="Remove Requirement {{completedRequirement.requirement.name}}"></fcs-delete-button>
            </fcs-completed-requirement-summary>
          </md-item-content>
        </md-item>
      </md-list>
    </md-card-content>
  </md-card>

</md-content>

<md-button ng-click="$state.go('troop')" class="md-fab md-fab-bottom-left md-raised md-accent">
  <md-icon md-svg-src="actions:go-back"></md-icon>
</md-button>

<md-button ng-click="addDetails($event)" class="md-fab md-fab-bottom-right md-raised">
  <md-icon md-svg-src="actions:add-detail"></md-icon>
</md-button>