<md-content>
  <md-card class="md-whiteframe-z2" layout="column">
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row">
        <img ng-src="{{vm.scout.photoUrl}}" class="avatar-sm" layout-margin>
        <fcs-scout-name scout="vm.scout"></fcs-scout-name>
        <span flex></span>
        <fcs-oa-icon ng-if="!!scout.isOA" layout-margin></fcs-oa-icon>

        <fcs-make-editable item="vm.scout" edit="vm.editScout" edit-takes-events="true"></fcs-make-editable>

      </div>
    </md-toolbar>

    <md-tabs md-selected="vm.selectedIndex">
      <md-tab>
        Summary
      </md-tab>
      <md-tab>
        Requirements
      </md-tab>
      <md-tab>
        Campouts
      </md-tab>
      <md-tab>
        Service
      </md-tab>
      <md-tab>
        Positions
      </md-tab>
    </md-tabs>
    <md-content class="container" md-scroll-y>

      <ng-switch on="vm.selectedIndex">

        <fcs-scout-summary scout="vm.scout" ng-switch-when="0"></fcs-scout-summary>

        <fcs-requirement-list scout="vm.scout" requirements="vm.scout.getCompletedRequirements()" ng-switch-when="1"></fcs-requirement-list>

        <fcs-campout-list campouts="vm.scout.getCamping()" scout="vm.scout" ng-switch-when="2"></fcs-campout-list>

        <fcs-service-list scout="vm.scout" service-projects="vm.scout.getService()" ng-switch-when="3"></fcs-service-list>

        <fcs-position-list scout="vm.scout" positions="vm.scout.getPositions()" ng-switch-when="4"></fcs-position-list>

      </ng-switch>

    </md-content>

  </md-card>

  <div class="spacer"></div>

</md-content>

<md-button ui-sref="troop" class="md-fab md-fab-bottom-left md-raised md-accent md-hue-3">
  <md-icon md-svg-src="actions:go-back"></md-icon>
</md-button>

<md-button ng-click="vm.addDetails($event)" class="md-fab md-fab-bottom-right md-raised md-primary md-hue-3">
  <md-icon md-svg-src="actions:add-detail"></md-icon>
</md-button>