[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/*see http://www.htmlxprs.com/post/9/easy-angularjs-animations-using-animatecss*/
/*.ng-enter {*/
    /*-webkit-animation: fadeIn 1s;*/
    /*-moz-animation: fadeIn 1s;*/
    /*-o-animation: fadeIn 1s;*/
    /*animation: fadeIn 1s;*/
/*}*/

/*.ng-leave {*/
    /*-webkit-animation: fadeOut 1s;*/
    /*-moz-animation: fadeOut 1s;*/
    /*-o-animation: fadeOut 1s;*/
    /*animation: fadeOut 1s;*/
/*}*/

.avatar-sm {
    height: auto;
    width: 50px;
    border: 1px black solid;
    border-radius: 50%;
}

fcs-add-button .md-button.add-button-tab {
    position: fixed;
    bottom: 0;
    right: 40px;
    height: 35px;
    width: 50px;
    z-index: 999;
    background: rgba(252, 68, 130, 0.5);
    border-radius: 3px 3px 0 0;
}

/* https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/ */
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95%;
}

.truncate:hover {
    white-space: normal;
}

fcs-requirement-summary-icons .header {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 800;
}

fcs-rank-progress .header {
    font-weight: 800;
}

fcs-position-summary .title {
    font-weight: 800;
}

fcs-position-summary .months {
    font-style: italic;
}

fcs-position-list .current {
    margin-bottom: 10px;
}

.legal {
    font-weight: 300;
    text-transform: uppercase;
}

a .legal-link {
    font-size: .25em;
}

.button-group > .md-button {
    margin: 5px 5px 5px 0;
}

md-bottom-sheet .header {
    font-weight: 800;
    font-size: 1.2em;
    margin-bottom: 5px;
}

fcs-rank .rank {
    font-weight: 800;
    margin-bottom: 5px  ;
}

.details-button {
    width: 110px;
}

.md-button-group {
    margin-top: 10px;
}

.no-scouts {
    text-align: center;
    font-size: 1.7em;
    font-weight: 200;
    font-style: italic;
}

.main {
    height: 100%;
    width: 100%;
}