[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/*see http://www.htmlxprs.com/post/9/easy-angularjs-animations-using-animatecss*/

.view.animate.ng-enter {
    -webkit-animation: fadeInUpBig 1s;
    -moz-animation: fadeInUpBig 1s;
    -o-animation: fadeInUpBig 1s;
    animation: fadeInUpBig 1s;
}

/*.view.animate.ng-leave {*/
    /*-webkit-animation: slideOutLeft 1s;*/
    /*-moz-animation: slideOutLeft 1s;*/
    /*-o-animation: slideOutLeft 1s;*/
    /*animation: slideOutLeft 1s;*/
/*}*/

.avatar-sm {
    height: 50px;
    width: 50px;
    min-width: 50px;
    border: 1px black solid;
    border-radius: 50%;
}

/* https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/ */
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate:hover {
    white-space: normal;
}

fcs-requirement-summary-icons .header {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 800;
}

fcs-rank-progress .header {
    font-weight: 800;
}

fcs-position-summary .title {
    font-weight: 800;
}

fcs-position-summary .months {
    font-style: italic;
}

fcs-position-list .current {
    margin-bottom: 10px;
}

.legal {
    font-weight: 300;
    text-transform: uppercase;
}

a .legal-link {
    font-size: .25em;
}

.button-group > .md-button {
    margin: 5px 5px 5px 0;
}

md-bottom-sheet .header {
    font-weight: 800;
    font-size: 1.2em;
    margin-bottom: 5px;
}

fcs-rank .rank {
    font-weight: 800;
    margin-bottom: 5px  ;
}

.details-button {
    width: 110px;
}

.md-button-group {
    margin-top: 10px;
}

.no-scouts {
    text-align: center;
    font-size: 1.7em;
    font-weight: 200;
    font-style: italic;
}

/* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.spacer {
    height: 75px;
}

.title {
    font-size: 20px;
}

.container {
    display: block;
    
    height: 300px;
}

.tabs {
    min-height: 48px;
}

.bold-on-hover:hover {
    font-weight: 800;
}

.indent {
    margin-left: 36px;
}

.requirement-badge .number {
    font-size: 24px;
}

.md-button.requirement-badge {
    height: 37px;
    width: 63px;
    margin-left: 5px;
    margin-right: 5px;
}