<div class="container">
  <div class="row">
    <form novalidate class="login-form form-inline form-group">

      <div class="form-group">
        <label for="username" class="sr-only">Username</label>
        <input id="username" type="text" class="form-control" ng-model="user.email" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="password" class="sr-only">Password</label>
        <input id="password" type="password" class="form-control" ng-model="user.password" placeholder="Password">
      </div>

      <div class="form-group" ng-if="doSignUp">
        <label for="verifyPassword" class="sr-only">Verify Password</label>
        <input id="verifyPassword" type="password" class="form-control" ng-model="newUser.verifyPassword" placeholder="Verify Password">
      </div>

      <!-- TODO: Fix funny fade in / out on chooseToSignUp -->
      <button ng-click="login()" class="btn bg-primary" ng-if="!doSignUp">Login</button>

      <button ng-click="chooseToSignUp()" class="btn btn-default" ng-if="!doSignUp">Sign Up</button>

      <button ng-click="signUp()" class="btn btn-primary" ng-if="doSignUp">Sign Up</button>
      <button ng-click="cancelSignUp()" class="btn btn-default" ng-if="doSignUp">Cancel</button>

    </form>
  </div>

  <div class="row">
    <div ng-show="message" class="alert alert-warning">
      {{message}}
    </div>
  </div>
</div>