<div class="container">
<div class="col-xs-12 col-md-6 panel panel-default">

	<div class="panel-body">

		<div class="row clearfix">
			<!-- scoutSummary Image -->
			<div class="col-xs-6 col-sm-4">
				<div class="well-sm">
					<img class="img-responsive img-thumbnail" ng-src="{{scout.photoUrl}}">
				</div>
			</div>

			<!-- scoutSummary Summary Data -->
			<div class="col-xs-6 col-sm-8">
				<h3>
          <span editable-text="scout.firstName" e-form="editable">{{scout.firstName}}</span>
          <span editable-text="scout.lastName" e-form="editable">{{scout.lastName}}</span>
        </h3>
        <span class="glyphicon glyphicon-pencil" ng-click="editable.$show()" ng-hide="editable.$visible"></span>
			</div>

			<!-- scoutSummary Rank and Patrol -->
			<!--<div class="col-xs-6">-->
				<!--<ul class="list-inline">-->
					<!--<li>{{scout.currentRank}}</li>-->
					<!--<li>{{scout.currentPatrol}} Patrol</li>-->
				<!--</ul>-->
			<!--</div>-->

			<!-- Position Summary Data -->
			<div class="col-xs-12 col-sm-6">
				<ul class="list-inline">
					<li ng-repeat="position in scout.getPositions()">
						{{position.title}} 
						<span class="badge">{{position.monthsInPosition()}} months</span>
					</li>
				</ul>
			</div>

			<!-- Next rank progress -->
			<!--<div class="col-xs-12 col-sm-6">-->
				<!--Next Rank: <progressbar type="success" value="scout.getPercentProgressToNextRank()"></progressbar>-->
			<!--</div>-->

		</div>

	</div>

	<div class="row">

		<div class="col-xs-12">

			<ul class="list-inline">
				<li><span class="badge">{{scout.getQualifiedNightsOfCamping()}}</span> Qualified Nights of Camping</li>
				<li><span class="badge">{{scout.getHoursOfService()}}</span> Service Hours</li>
				<li><span class="badge">{{scout.getMeritBadgeCount()}}</span> Merit Badges</li>
			</ul>

		</div>

		<!--<div class="col-xs-6">-->


			<!--<ul class="list-inline">-->
				<!--<li ng-repeat="category in scout.getNeededRequirementCategories()">-->
					<!--<span class="label label-success">{{category.title}}</span>-->
				<!--</li>-->
			<!--</ul>-->

			<!--<div ng-if="!!scout.isOA">OA Member</div>-->
			<!--<div ng-if="!scout.isOA && scout.isOAQualified()">OA Qualified</div>-->

		<!--</div>-->

	</div>

  <div class="container-fluid">
    <ng-transclude class="row"></ng-transclude>
  </div>

</div>
  </div>