<md-card class="md-whiteframe-z3">
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row">
        <img ng-src="{{scout.photoUrl}}" class="avatar-sm" layout-margin>
        {{scout.firstName}} {{scout.lastName}}<span ng-if="scout.currentRank">: {{scout.currentRank.name}}</span>
        <fcs-oa-icon ng-if="!!scout.isOA"></fcs-oa-icon>
      <span flex></span>
      <md-button ui-sref="scout-detail({ scoutId: scout.id })" class="md-raised md-accent">Details</md-button>
    </div>
  </md-toolbar>

  <md-card-content>
    <!--Next rank progress -->
    <div class="md-tile-content">
        <h3>Progress to First Class: {{scout.getPercentProgressToFirstClass() | percent}}</h3>

      <md-progress-linear class="md-info" md-mode="determinate" ng-value="scout.getPercentProgressToFirstClass() * 100" flex layout-margin></md-progress-linear>
      <fcs-requirement-summary-icons req-category-count="scout.neededReqSummary"></fcs-requirement-summary-icons>

      <fcs-position-list positions="scout.currentPositions"></fcs-position-list>

      <div class="md-tile-content">

        <fcs-nights-of-camping-icon nights="scout.getQualifiedNightsOfCamping()"></fcs-nights-of-camping-icon>

        <fcs-hours-of-service-icon hours="scout.getHoursOfService()"></fcs-hours-of-service-icon>

        <span ng-if="!scout.isOA && scout.isOAQualified()">OA Qualified</span>

        <fcs-scout-patrol patrol="scout.currentPatrol"></fcs-scout-patrol>

      </div>
      </div>

  </md-card-content>

</md-card>
