<md-card class="md-whiteframe-z3">
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row">
        <img ng-src="{{scout.photoUrl}}" class="avatar-sm" layout-margin>
        {{scout.firstName}} {{scout.lastName}}<span ng-if="scout.currentRank">: {{scout.currentRank.name}}</span>
        <md-icon md-svg-src="icons/oa_pocket_device.svg" ng-if="!!scout.isOA" layout-margin></md-icon>
      <span flex></span>
      <md-button ui-sref="scout-detail({ scoutId: scout.id })" class="md-raised md-accent">Details</md-button>
    </div>
  </md-toolbar>

  <md-card-content>
    <!--Next rank progress -->
    <div class="md-tile-content">
        <h3>Progress to First Class: {{scout.getPercentProgressToFirstClass() | percent}}</h3>

      <md-progress-linear class="md-info" md-mode="determinate" ng-value="scout.getPercentProgressToFirstClass() * 100" flex layout-margin></md-progress-linear>
      {{scout.neededReqSummary}}
        <!-- Position Summary Data -->
      <md-list>
        <md-item ng-repeat="position in scout.getCurrentPositions()">
          <md-item-content>
            {{position.title}} - {{position.monthsInPosition()}} months
          </md-item-content>
        </md-item>
      </md-list>

      <div class="md-tile-content">

        <md-button>
          <span class="number">{{scout.getQualifiedNightsOfCamping()}}</span>
          <md-tooltip>
            Qualified Nights of Camping
          </md-tooltip>
          <md-icon md-svg-src="icons/svg/camping2.svg">
          </md-icon>
        </md-button>

        <md-button>
          <span class="number">{{scout.getHoursOfService()}}</span>
          <md-tooltip>
            Hours of Service
          </md-tooltip>
          <md-icon md-svg-src="icons/svg/cement.svg"></md-icon>
        </md-button>

        <span ng-if="!scout.isOA && scout.isOAQualified()">OA Qualified</span>

        <fcs-scout-patrol patrol="scout.currentPatrol"></fcs-scout-patrol>

      </div>
      </div>

  </md-card-content>

</md-card>
