<md-card class="md-whiteframe-z1" layout="column">
  <md-toolbar ng-click="vm.show = !vm.show">
    <div class="md-toolbar-tools" layout="row">
        <img ng-src="{{scout.photoUrl}}" class="avatar-sm" layout-margin>
        <fcs-scout-name scout="scout"></fcs-scout-name>
      <span flex></span>
      <fcs-oa-icon ng-if="!!scout.isOA"></fcs-oa-icon>
    </div>
  </md-toolbar>

  <md-card-content flex ng-if="true">

    <ng-transclude></ng-transclude>

    <!--Next rank progress -->
    <fcs-scout-summary scout="scout"></fcs-scout-summary>

  </md-card-content>

  <md-card-content ng-if="false">
    <md-icon md-svg-src="actions:show"></md-icon>
  </md-card-content>

</md-card>