<div layout="column" layout-align="center center" layout-margin>

  <div class="header" ng-if="vm.hasRemainingRequirements">Remaining Requirements:</div>
  <div layout="row" layout-align="center center" layout-wrap>
    <div ng-repeat="(key, value) in vm.reqCategoryCount" layout-align="space-around center">
      <md-button class="requirement-badge" layout="row">
        <div class="number">{{value}}</div>
        <md-tooltip>
          {{key | uppercase}}
        </md-tooltip>
        <md-icon md-svg-src="requirements:{{key}}"></md-icon>
      </md-button>
    </div>
  </div>

</div>