<md-dialog>

  <md-subheader class="md-sticky-no-effect md-primary">{{vm.create ? 'Add' : 'Edit'}} Position</md-subheader>

  <md-content>
    <form name="vm.positionForm">

      <md-input-container>
        <label>Position Title</label>
        <input type="text" class="form-control" name="title" ng-model="vm.position.title" required>
        <div ng-messages="vm.positionForm.title" ng-show="vm.positionForm.lastName.$dirty && vm.positionForm.lastName.$invalid">
          <div ng-message="required">Position Title is Required</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Start Date</label>
        <input type="date" class="form-control" name="startDate" ng-model="vm.position.start" required>
        <div ng-messages="vm.positionForm.startDate" ng-show="vm.positionForm.startDate.$dirty && vm.positionForm.startDate.$invalid">
          <div ng-message="required">Start Date is Required</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>End Date</label>
        <input type="date" class="form-control" name="endDate" ng-model="vm.position.end">
      </md-input-container>

    </form>
  </md-content>

  <div class="md-actions">
    <md-button id="submit" type="submit" class="md-primary" ng-click="vm.returnPosition()">
      {{vm.create ? 'Add' : 'Update'}}
      <span show-gt-sm> Position</span>
    </md-button>
    <md-button id="cancel" type="cancel" class="md-warn" ng-click="vm.cancel()">Cancel</md-button>
  </div>

</md-dialog>