<md-dialog>

  <md-subheader class="md-sticky-no-effect md-primary">Edit Date</md-subheader>

  <md-content>

    <form name="vm.dateForm">

      <md-input-container>
        <label>Date</label>
        <input type="date" class="form-control" name="date" ng-model="vm.date" required>
        <div ng-messages="vm.serviceProjectForm.description"
             ng-show="vm.dateForm.date.$dirty && vm.dateForm.date.$invalid">
          <div ng-message="required">Date is Required</div>
        </div>
      </md-input-container>

    </form>

  </md-content>

  <div class="md-actions">

    <span flex></span>

    <md-button id="submit" class="md-primary" ng-click="vm.returnDate()">
      Update
    </md-button>

    <md-button id="cancel" class="md-warn" ng-click="vm.cancel()">Cancel</md-button>

  </div>

</md-dialog>