<div ng-controller="AddPositionController" layout="column">

  <form name="addPositionForm">

  <md-input-container>
    <label>Description</label>
    <input type="text" class="form-control" name="title" ng-model="newPosition.title" placeholder="Title" required>
    <div ng-messages="addPositionForm.title" ng-show="addPositionForm.lastName.$dirty && addPositionForm.lastName.$invalid">
      <div ng-message="required">Position Title is Required</div>
    </div>
  </md-input-container>

  <md-input-container>
    <label>Start Date</label>
    <input type="date" class="form-control" name="startDate" ng-model="newPosition.startDate" required>
    <div ng-messages="addPositionForm.startDate" ng-show="addPositionForm.startDate.$dirty && addPositionForm.startDate.$invalid">
      <div ng-message="required">Start Date is Required</div>
    </div>
  </md-input-container>

  <md-input-container>
    <label>End Date</label>
    <input type="date" class="form-control" name="endDate" ng-model="newPosition.endDate">
  </md-input-container>

  <div layout="row" class="button-group">
    <md-button id="submit" type="submit" class="md-raised md-primary" ng-click="addPosition()">Add Position</md-button>
    <md-button id="cancel" type="cancel" class="md-raised md-warn" ng-click="cancelAddPosition()">Clear</md-button>
  </div>

  </form>
</div>