<div ng-controller="AddServiceController" layout="column">

  <form name="addServiceForm">

  <md-input-container>
    <label>Description</label>
    <input type="text" class="form-control" name="description" ng-model="newService.description" placeholder="Description" required>
    <div ng-messages="addServiceForm.description" ng-show="addServiceForm.description.$dirty && addServiceForm.description.$invalid">
      <div ng-message="required">Service Description is Required</div>
    </div>
  </md-input-container>

  <md-input-container>
    <label for="hours">Hours</label>
    <input type="number" class="form-control" id="hours" ng-model="newService.hours" placeholder="Hours" required>
    <div ng-messages="addServiceForm.description" ng-show="addServiceForm.description.$dirty && addServiceForm.description.$invalid">
      <div ng-message="required">Service Hours are Required</div>
    </div>
  </md-input-container>

  <div layout="row" class="button-group">
    <md-button id="submit" class="md-raised md-primary" ng-click="addService()">Add Service</md-button>
    <md-button id="cancel" class="md-raised md-warn" ng-click="cancelAddService()">Clear</md-button>
  </div>

  </form>

</div>